
*{
	margin:0;
	padding:0;
	box-sizing: border-box;   /*  css3 盒子模型 */
}
em,i{
	font-style:normal;
}
li{
	list-style:none;
}
img{
	border:0;
	vertical-align:middle;
}
button{
	cursor:pointer;
}
a{
	color:#050505;
	text-decoration:none;
}
a:hover{
	color:#c81623;
}
button,input{
	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
body{
	-webkit-font-smoothing:antialiased;
	background-color:#ccc;
	font:12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color:#666;
	min-width: 1500px;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.hide,.none{
	display:none;
}
.clearfix:after{
	visibility:hidden;
	clear:both;
	display:block;
	content:".";
	height:0;
}
.clearfix{
	*zoom:1;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?axvffw');
  src:  url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?axvffw') format('truetype'),
    url('../fonts/icomoon.woff?axvffw') format('woff'),
    url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.no{
	display: none;
}
.bl{
	display: block;
}



.header{
	height:65px;
	background-color: white;
	margin: 0 5px;
}
.header-left img{
	width:150px;
	height:65px;
}
.header-left p{
	margin-left: 10px;
	font-size: 25px;
	text-align: center;
	line-height: 65px;
	color: black;
}
.header-left p span{
	margin-right: 6px;
}
.header-right{
	background-color: #fff;
	width: 350px;
	height:65px;
	font-family: "icomoon";
	font-size: 14px;
	line-height: 65px;
	color: blue;
}
.header-right select{
	border: 0;
	color: blue;
	background-color: #fff;
}
.header-right span{
	margin-right: 15px;
}
.header-right span a{
	color: blue;
}
.header-right img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}




nav{
	height: 660px;
	width: 16%;
	margin-left:5px;
	background:linear-gradient(to bottom,#0A305D,#414A99);
}

nav .nav-top{
	height: 250px;
	border-bottom: 2px solid #7396FF;
}
nav .nav-top dl{
	margin-left: 10px;
	color: white;
	font-size: 18px;
}
nav .nav-top dt{
	font-size: 25px;
}
.nav-top dd{
	margin-top: 5px;
}
.nav-top span{
	float: right;
	font-size: 25px;
	margin-right: 5px;
	margin-top: -25px;
}
.nav-top img{
	width: 120px;
	height: 35px;
}
.nav-top .ju{
	margin-top: 10px;
}

nav .nav-bottom{
	height: 450px;
	margin-top: 10px;
	font-weight: 550;
	font-family: "icomoon";
	color: #ccccff;
}
.nav-bottom p{
  	height: 60px;
  	font-size: 22px;
  	line-height:60px; 
  	text-indent: 1em;
  	cursor: pointer;
}
.nav-bottom p:hover{
	color: white;
	font-size: 20px;
	background: rgb(255,255,255,.2);
}
.nav-bottom ul{
	border-left: 3px solid blue;
}
.nav-bottom ul li{
	margin-left: 22px;
	font-size: 16px;
  	height: 40px;
  	margin-top: 8px;
  	cursor: pointer;
}
.nav-bottom ul li:hover{
	color: white;
	background: rgb(255,255,255,.2);
}
