.header{
	height:65px;
	background-color: white;
	margin: 0 5px;
}
.header-left img{
	width:150px;
	height:65px;
}
.header-left p{
	margin-left: 10px;
	font-size: 25px;
	text-align: center;
	line-height: 65px;
	color: black;
}
.header-left p span{
	margin-right: 6px;
}
.header-right{
	background-color: #fff;
	width: 350px;
	height:65px;
	font-family: "icomoon";
	font-size: 14px;
	line-height: 65px;
	color: blue;
}
.header-right select{
	border: 0;
	color: blue;
	background-color: #fff;
}
.header-right span{
	margin-right: 15px;
}
.header-right span a{
	color: blue;
}
.header-right img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}




nav{
	height: 660px;
	width: 16%;
	margin-left:5px;
	background:linear-gradient(to bottom,#0A305D,#414A99);
}

nav .nav-top{
	height: 250px;
	border-bottom: 2px solid #7396FF;
}
nav .nav-top dl{
	margin-left: 10px;
	color: white;
	font-size: 18px;
}
nav .nav-top dt{
	font-size: 25px;
}
.nav-top dd{
	margin-top: 5px;
}
.nav-top span{
	float: right;
	font-size: 25px;
	margin-right: 5px;
	margin-top: -25px;
}
.nav-top img{
	width: 120px;
	height: 35px;
}
.nav-top .ju{
	margin-top: 10px;
}

nav .nav-bottom{
	height: 450px;
	margin-top: 10px;
	font-weight: 550;
	font-family: "icomoon";
	color: #ccccff;
}
.nav-bottom p{
  	height: 60px;
  	font-size: 22px;
  	line-height:60px; 
  	text-indent: 1em;
  	cursor: pointer;
}
.nav-bottom p:hover{
	color: white;
	font-size: 20px;
	background: rgb(255,255,255,.2);
}
.nav-bottom ul{
	border-left: 3px solid blue;
}
.nav-bottom ul li{
	margin-left: 22px;
	font-size: 16px;
  	height: 40px;
  	margin-top: 8px;
  	cursor: pointer;
}
.nav-bottom ul li:hover{
	color: white;
	background: rgb(255,255,255,.2);
}







.content{
	width: 80%;
	height: 660px;
	margin-left: 20px;
}
.content p{
	margin: 10px 0;
	font-size: 25px;
}
.content .content-top{
	height: 180px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
}
.content-top .line{
	margin-left:125px;
	margin-right: 10px;
	margin-top: -12px;
	height: 2px;
	background-color: #ccc;
}
.content-top p{
	width: 110px;
	padding-top: 15px;
	margin-left:15px;
	font-size: 18px;
	font-weight: 600;
	color: #414A99;
	border-bottom: 2px solid #414A99;

}
.message{
	margin-top: 15px;
	margin-left:15px;
	width: 98%;
	height: 100px;
	border:1px solid #ccc;
}
.message li{
	float: left;
	width: 185px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
  	color: black;
  	margin-top: 20px;
  	cursor: pointer;
}
.content .content-bottom{
	height: 400px;
	border-radius: 5px;
	background-color: white;
}
.content-bottom p{
	padding-top: 20px;
	text-align: center;
	color: black 
}
.content-bottom .line{
	height: 5px;
	width: 80px;
	margin:0 auto;
	background-color: #414A99;
}
.content-bottom table{
	margin:0 auto;
}
.content-bottom td{
	padding:15px 20px;
}
.content-bottom img{
	width: 300px;
}