/*techer页面*/
.content{
	width: 80%;
	height: 660px;
	margin-left: 20px;
}
.content p{
	margin: 10px 0;
	font-size: 25px;
}
.content .content-top{
	height: 180px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
}
.content-top .line{
	margin-left:125px;
	margin-right: 10px;
	margin-top: -12px;
	height: 2px;
	background-color: #ccc;
}
.content-top p{
	width: 110px;
	padding-top: 15px;
	margin-left:15px;
	font-size: 18px;
	font-weight: 600;
	color: #414A99;
	border-bottom: 2px solid #414A99;

}
.message{
	margin-top: 15px;
	margin-left:15px;
	width: 98%;
	height: 100px;
	border:1px solid #ccc;
}
.message li{
	float: left;
	width: 185px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
  	color: black;
  	margin-top: 20px;
  	cursor: pointer;
}
.content .content-bottom{
	height: 400px;
	border-radius: 5px;
	background-color: white;
}
.content-bottom p{
	padding-top: 20px;
	text-align: center;
	color: black 
}
.content-bottom .line{
	height: 5px;
	width: 80px;
	margin:0 auto;
	background-color: #414A99;
}
.content-bottom table{
	margin:0 auto;
}
.content-bottom td{
	padding:15px 20px;
}
.content-bottom img{
	width: 300px;
	height: 130px;
}